extends layout

block content
  a(href='https://github.com/anders94/blockchain-demo/')
    img.github-ribbon(src='/images/fork-me-on-github-ribbon.png', alt='Fork me on GitHub')
  .container
    h2  பொதுத்திறவி / தனித்திறவி (துனைத் திறவிகள்) &amp; ஒப்பமிடல் வெள்ளோட்டம்
    
    br
    h3 வெள்ளோட்டத்தை உருவாக்கியவர்:
      a(href='http://andersbrownworth.com/') Anders Brownworth 
    br
    h3 தமிழில் மொழிபெயர்த்தவர்: வெங்கடேஷ் ஜம்புலிங்கம்
